:root {
    --titleFont: 'Space Grotesk';
    --mainFont: 'Roboto', sans-serif;
  
    --mainColor: #55F4F0;
    --secondColor: #190AFF;
    --darkColor: #333333;
    --labelColor: #6C6C6C;
    --greyColor: #BCBCBC;
    --lightBgColor: #F2F2F2;
}

@font-face {
    font-family: Space-Grotesk;
    src: url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
}

body {
    font-family: var(--mainFont) !important;
    font-family: Space-Grotesk;
    font-size: 18px;
    background: transparent;
    background: var(--lightBgColor);
    color: var(--labelColor);
    display: flex;
    justify-content: center;
}

svg {
    margin: 40px 0 10px 0;
}

input {
    color: var(--darkColor);
    height: auto;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    font-size: 0.94em;
    padding: 10px 20px;
    outline: none;
    letter-spacing: 0.02em;
    border: 2px solid var(--secondColor);
    margin: 30px 0 0 0;
}

input:last-child {
    margin-bottom: 30px;
}

small {
    font-size: 0.8em;
}

#input-error {
    color: red;
    font-size: 0.8em;
}

#kc-header-wrapper {
    display: none;
}

#kc-form-wrapper {
    width: 360px;
    max-width: 90vw;
    text-align: center;
}

#kc-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kc-form-login a {
    line-height: 3em;
    color: var(--secondColor);
    font-size: .92em;
}

#kc-form h1 {
    font-family: Space-Grotesk !important;
    font-weight: 700;
    margin: 60px 0 0 0;
    color: var(--darkColor);
    font-size: 45px;
    font-weight: 600;
}

#kc-form-buttons {
    display: flex;
    justify-content: center;
}

#kc-login {
    outline: none;
    border: solid 2px transparent;
    box-shadow: none;
    padding: 12px 20px 11px;
    font-size: 0.94em;
    letter-spacing: 0.08em;
    font-weight: 500;
    color: #fff !important;
    background: var(--secondColor) !important;
    border-radius: 32px;  
    width: auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    min-width: 200px;
    text-transform: uppercase;
    line-height: 20px;
    transition: all ease-in-out .05s;
}

#kc-login:hover {
    border: solid 2px var(--secondColor);
    background: transparent !important;
    color: var(--secondColor) !important;
}

#kc-form-wrapper .alternative-login-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#kc-form-wrapper .alternative-login-label hr {
    flex-grow: 1;
    background: var(--darkColor);
    height: 2px;
}

.alternative-login-btns-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: .6em 0 2em 0;
}

.alternative-login-btns-container svg {
    margin: 0;
}

.alternative-login-btn {
    background: #fff;
    border: none;
    padding: 9px 20px 9px;
    font-size: 0.94em;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: var(--darkColor) !important;
    text-decoration-line: none !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.alternative-login-btn:hover {
    box-shadow: 0 5px 7px #c4c4c4;
}

.alternative-login-btn-left {
    border-radius: 32px 0 0 32px;
}

.alternative-login-btn-right {
    border-radius: 0 32px 32px 0;
}
